<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TaskManager</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.taskmanager.servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.taskmanager.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PerInfoServlet</servlet-name>
    <servlet-class>com.taskmanager.controller.PerInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RecTskServlet</servlet-name>
    <servlet-class>com.taskmanager.controller.RecTskServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdmEntServlet</servlet-name>
    <servlet-class>com.taskmanager.controller.AdmEntServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InfoSearchServlet</servlet-name>
    <servlet-class>com.taskmanager.controller.InfoSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskSearchServlet</servlet-name>
    <servlet-class>com.taskmanager.controller.TaskSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchUserServlet</servlet-name>
    <servlet-class>com.taskmanager.controller.SearchUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskAddServlet</servlet-name>
    <servlet-class>com.taskmanager.controller.TaskAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginUIServlet</servlet-name>
    <servlet-class>com.taskmanager.controller.LoginUIServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskConfirmSevlet</servlet-name>
    <servlet-class>com.taskmanager.controller.TaskConfirmSevlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Check</servlet-name>
    <servlet-class>com.taskmanager.tool.Check</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskModify</servlet-name>
    <servlet-class>com.taskmanager.controller.TaskModify</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskModifyServlet</servlet-name>
    <servlet-class>com.taskmanager.controller.TaskModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyConfirmServlet</servlet-name>
    <servlet-class>com.taskmanager.controller.ModifyConfirmServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskDeleteServlet</servlet-name>
    <servlet-class>com.taskmanager.controller.TaskDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReturnToIndex</servlet-name>
    <servlet-class>com.taskmanager.controller.ReturnToIndex</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReturnToIndexServlet</servlet-name>
    <servlet-class>com.taskmanager.controller.ReturnToIndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetTaskServlet</servlet-name>
    <servlet-class>com.taskmanager.controller.GetTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Message</servlet-name>
    <servlet-class>com.taskmanager.tool.Message</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskCancelServlet</servlet-name>
    <servlet-class>com.taskmanager.controller.TaskCancelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.taskmanager.controller.LogOutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>com.taskmanager.ui.CreateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateConfirmServlet</servlet-name>
    <servlet-class>com.taskmanager.controller.CreateConfirmServlet</servlet-class>
  </servlet>
























  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PerInfoServlet</servlet-name>
    <url-pattern>/servlet/PerInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecTskServlet</servlet-name>
    <url-pattern>/servlet/RecTskServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdmEntServlet</servlet-name>
    <url-pattern>/servlet/AdmEntServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfoSearchServlet</servlet-name>
    <url-pattern>/servlet/InfoSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskSearchServlet</servlet-name>
    <url-pattern>/servlet/TaskSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchUserServlet</servlet-name>
    <url-pattern>/servlet/SearchUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskAddServlet</servlet-name>
    <url-pattern>/servlet/TaskAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginUIServlet</servlet-name>
    <url-pattern>/servlet/LoginUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskConfirmSevlet</servlet-name>
    <url-pattern>/servlet/TaskConfirmSevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Check</servlet-name>
    <url-pattern>/servlet/Check</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskModify</servlet-name>
    <url-pattern>/servlet/TaskModify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskModifyServlet</servlet-name>
    <url-pattern>/servlet/TaskModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyConfirmServlet</servlet-name>
    <url-pattern>/servlet/ModifyConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskDeleteServlet</servlet-name>
    <url-pattern>/servlet/TaskDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReturnToIndex</servlet-name>
    <url-pattern>/servlet/ReturnToIndex</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReturnToIndexServlet</servlet-name>
    <url-pattern>/servlet/ReturnToIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTaskServlet</servlet-name>
    <url-pattern>/servlet/GetTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Message</servlet-name>
    <url-pattern>/servlet/Message</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskCancelServlet</servlet-name>
    <url-pattern>/servlet/TaskCancelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/servlet/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/servlet/CreateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateConfirmServlet</servlet-name>
    <url-pattern>/servlet/CreateConfirmServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>